[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-solo = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
moviepy = "*"
django-extensions = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.10"
